---
title: Volchan - Freelance web developer
---

<div class="navbar">
  <%= link_to 'Home', '#home', id: 'home-tab', class: 'tab active' %>
  <%= link_to 'About me', '#about-me', id: 'about-me-tab', class: 'tab' %>
  <%= link_to 'My skills', '#my-skills', id: 'my-skills-tab', class: 'tab' %>
  <%= link_to 'Contact', '#contact-me', id: 'contact-me-tab', class: 'tab' %>
</div>
<div class="banner" id="home">
  <%= inline_svg('volchan', class: 'logo') %>
  <h1 class="no-margin light-font">STEPHANE DE LA TORRE</h1>
  <h2 class="no-margin light-font">FREELANCE WEB DEVELOPER</h2>
</div>
<div class="about container" id="about-me">
  qlkzhdlqkjhd
</div>
<div class="skills container" id="my-skills">
  <div class="row">
    <div class="col-sm-6 col-md-4">
      <div class="skill-card">
        <div class="skill-card-code" style="background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.1) 75%), url('images/ruby-code.png');">
          <%= image_tag 'ruby-logo.png', class: 'skill-card-code-logo' %>
        </div>
        <div class="skill-card-text">
          <h3 id="ruby">Ruby</h3>
          <p>Ruby is the language that revealed my passion for web development. It is pretty easy to understand it because it can almost be read it like a book.</p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="skill-card">
        <div class="skill-card-code" style="background-image: linear-gradient(0deg, rgba(236, 22, 34,0.6) 0%, rgba(236, 22, 34,0.1) 75%), url('images/rails-code.png');">
          <%= image_tag 'rails-logo.png', class: 'skill-card-code-logo' %>
        </div>
        <div class="skill-card-text">
          <h3 id="rails">Ruby on Rails</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="skill-card">
        <div class="skill-card-code" style="background-image: linear-gradient(0deg, rgba(228, 77, 38,0.6) 0%, rgba(228, 77, 38,0.1) 75%), url('images/html5-code.png');">
          <%= image_tag 'html5-logo.png', class: 'skill-card-code-logo' %>
        </div>
        <div class="skill-card-text">
          <h3 id="html">HTML 5</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="skill-card">
        <div class="skill-card-code" style="background-image: linear-gradient(0deg, rgba(27, 115, 186,0.6) 0%, rgba(27, 115, 186,0.1) 75%), url('images/css3-code.png');">
          <%= image_tag 'css3-logo.png', class: 'skill-card-code-logo' %>
        </div>
        <div class="skill-card-text">
          <h3 id="css">CSS 3</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="skill-card">
        <div class="skill-card-code" style="background-image: linear-gradient(0deg, rgba(238, 199, 37,0.6) 0%, rgba(238, 199, 37,0.1) 75%), url('images/js-code.png');">
          <%= image_tag 'js-logo.png', class: 'skill-card-code-logo' %>
        </div>
        <div class="skill-card-text">
          <h3 id="js">JavaScript</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="skill-card">
        <div class="skill-card-code" style="background-image: linear-gradient(0deg, rgba(16, 104, 173,0.6) 0%, rgba(16, 104, 173,0.1) 75%), url('images/jq-code.png');">
          <%= image_tag 'jq-logo.png', class: 'skill-card-code-logo' %>
        </div>
        <div class="skill-card-text">
          <h3 id="jq">jQuery</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="contact" id="contact-me">
  <form class="form" id="contactform" action="//formspree.io/contact@volchan.fr" method="POST">
    <fieldset class="field">
      <input class="input" type="text" name="name" placeholder="Name" required>
      <label class="label" for="name"><span class="label-content">Your name</span></label>
    </fieldset>
    <fieldset class="field">
      <input class="input" type="email" name="_replyto" placeholder="example@domain.com" required>
      <label class="label" for="_replyto"><span class="label-content">Your email</span></label>
    </fieldset>
    <fieldset class="field">
      <textarea class="input" name="message" rows="1" placeholder="Message" required></textarea>
      <label class="label" for="message"><span class="label-content">Your message</span></label>
    </fieldset>
    <input class="hidden" type="text" name="_gotcha" style="display:none">
    <input class="hidden" type="hidden" name="_subject" value="Message via http://domain.com">
    <fieldset class="field">
      <input class="button submit" type="submit" value="Send">
    </fieldset>
  </form>
</div>
<a id="gh-fork" href="https://github.com/volchan" target="_blank"><img style="position: fixed; top: 0; right: 0; border: 0; z-index: 1001;" src="https://camo.githubusercontent.com/38ef81f8aca64bb9a64448d0d70f1308ef5341ab/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6461726b626c75655f3132313632312e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png"></a>
